/* 
Color codes:- 

chocolate :- #553311
light chocolate:- #cc7733
orange:- #ff9933
cream:- #ffdd77
light gray::- #eeeedd

 */

.chocolate-bg {
  background-color: #553311;
}

.navigation-section .nav-item .nav-link {
  color: whitesmoke;
  font-weight: 700;
  font-size: 18px;
}

.nav-link:hover{
  text-decoration: none;
}

.website-logo {
  height: 50px;
  width: 50px;
}

.navbar .nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar .nav-item:hover:after {
  width: 100%;
  left: 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
    }
    
    .navbar{  
        animation: 0.50s ease-out slideInFromLeft;
      } 
      .footer-color{
          color:#553311      }
.navbar {
  animation: 0.5s ease-out slideInFromLeft;
}



.slick-next:before,
.slick-prev:before,
.card-title.cart-item-title {
    font-size: 25px !important;
    color: black !important;
}

.card.review-card {
    padding: 25px;
    border: none;
}

.card.review-card:hover {
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.9);
    z-index: 500;
    transition: all 0.3s ease-out;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.card.review-card:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #5bccf6;
    height: 9%;
    width: 4.5%;
    transform-origin: 0%;
    transition: transform 0.25s ease-out;
}

.card.review-card:hover:before {
    transform: scale(19);
}

.slick-next,
.slick-prev {
    z-index: 1;
}

.slick-next {
    right: 0px !important;
}

.slick-prev {
    left: 0px !important;
}
