{{!--  --}}
<section class="section guitar-game-section pt-5 mt-5">
    <div class="container">
        <h1 class="main-heading text-center">The Guitar Game</h1>
        <h2 class="subheading text-center"><i><u>Keep Calm and Play Guitar</u></i></h2>
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2 class="subheading text-center">Be a Guitar Hero !!!</h2>
                <div class="guitar-header text-center">
		            <h1 id="title">Agile Army's Guitar</h1>
	            </div>
                <section id="guitarBody">
                    <button onmouseover="pickString(this.id)" onclick="clickString(this.id)" class="string" id="s6"></button>
                    <button onmouseover="pickString(this.id)" onclick="clickString(this.id)" class="string" id="s5"></button>
                    <button onmouseover="pickString(this.id)" onclick="clickString(this.id)" class="string" id="s4"></button>
                    <button onmouseover="pickString(this.id)" onclick="clickString(this.id)" class="string" id="s3"></button>
                    <button onmouseover="pickString(this.id)" onclick="clickString(this.id)" class="string" id="s2"></button>
                    <button onmouseover="pickString(this.id)" onclick="clickString(this.id)" class="string" id="s1"></button>
                </section>
                <div class="guitar-footer">
                    <button onclick="stopStrings()" class="inactive" id="btnStop">STOP</button>
                    <button onclick="usePick()" class="inactive" id="btnPick">PICK</button>
                    <button onclick="holdSound()" class="inactive" id="btnHold">HOLD</button>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h2 class="subheading text-center">Let's Rock !!!</h2>
            </div>
        </div>
    </div>
</section>
{{!--  --}}