<section class="section guitar-game-section pt-5 mt-5 container2">

<div class="container  ">
<br>
<div class= "text-center slide-right"> <h1 > <span class="main-heading text-center guitarfont3"style='color: #212529' >The Maze Game  </h1>  </div>
<br>
        <div>

            <h3 class="slide-right maze text-center">Mental Health benefits of Playing a Maze Game :-</h3>
        <h3 class="slide-right maze text-center">It helps one's mental health in many ways, by providing  with a thrilling brain teaser that can enhance your visual, spatial reasoning and improves Memory Capacity. It also teaches problem solving skills, patience and persistence.</h3>
        <br>
     <h3 class="slide-top maze text-center"> MAZE UP! </h3>

</div> <br>
 <br> 
 </div>


 <div id="maz">
     <div id="gradient"></div>
    <div id="page">
      <div id="Message-Container">
        <div id="message">
          <h1 class="slide-right">Congratulations!</h1>
          <p class="slide-right">You are done.</p>
          <p id="moves"></p>
          <input id="okBtn" type="button" onclick="toggleVisablity('Message-Container')" value="Cool!" />
        </div>
      </div>
      <div id="menu">
        <div class="custom-select">
          <select id="diffSelect">
                    <option value="10">Easy</option>
                    <option value="15">Medium</option>
                    <option value="25">Hard</option>
                    <option value="38">Extreme</option>                                      
                </select>
        </div>
        <input id="startMazeBtn" type="button" onclick="makeMaze()" value="Start" />
      </div>
      <div id="view">
        <div id="mazeContainer">
          <canvas id="mazeCanvas" class="border" height="1100" width="1100"></canvas>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
 </div>
</section>


<script src="../../public/mazeGame.js"></script>