<section class="section guitar-game-section pt-5 mt-5 container2">

<div class="container  ">
<br>
<div class= "text-center slide-right"> <h1 > <span class="main-heading text-center guitarfont3"style='color: #212529' >The Maze Game  </h1>  </div>
<br>
        <div>

            <h3 class="slide-right maze text-center">Mental Health benefits of Playing a Maze Game :-</h3>
        <h3 class="slide-right maze text-center">It helps one's mental health in many ways, by providing  with a thrilling brain teaser that can enhance your visual, spatial reasoning and improves Memory Capacity. It also teaches problem solving skills, patience and persistence.</h3>
        <br>
     <h3 class="slide-top maze text-center"> MAZE UP! </h3>

</div> <br>
 <br> 
 </div>
</section>


<script src="../../public/mazeGame.js"></script>